*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100hv;
    background: rgb(53, 53, 56);
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
.contenedor .card{
    position: relative;
    min-width: 320px;
    height: 400px;
    box-shadow: inset 5px 5px 5px  rgba(0,0,0,0.2),
                inset -5px -5px 15px  rgba(255,255,255,0.1),
                      5px 5px 15px  rgba(0,0,0,0.3),
                     -5px -5px 15px  rgba(255,255,255,0.1);
                     border-radius: 15px;
                     margin: 30px;
}

.contenedor .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

.contenedor .card .box{
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
   bottom: 20px;
   background: rgb(29, 29, 28);
   border-radius: 10px;
   border: 2px solid black;
   box-shadow: 0 20px 50px rgba(0,0,0,0.5);
   transition: 0.5s;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.contenedor .card .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.07);
    pointer-events: none;
}
.contenedor .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
    cursor: pointer;
}

.contenedor .card .box .content{
    padding: 20px;
    text-align: center;
}

.contenedor .card .box .content h2{
    position: absolute;
    top:-10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}

.contenedor .card .box:hover,.contenedor .card .box .content h2:hover{
    color: rgba(255,255,255,0.5);
}

.contenedor .card .box .content h3{
 font-size: 1.8em;   
 color: rgba(255,255,255,0.5);
 z-index: 1;
 transition: 0.6s;
 margin-top: 83px;
}

.contenedor .card .box .content p{
 font-size: 16px;   
 font-weight: 300;
 color: rgba(255,255,255,0.5);
 z-index: 1;
 transition: 0.6s;
 margin-top: 5px;
}

.contenedor .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    background: rgb(0, 183, 255);
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.contenedor .card:nth-child(1) .box .content a{
    background: rgb(0, 183, 255);
}
.contenedor .card:nth-child(2) .box .content a{
    background: rgb(255, 0, 0);
}
.contenedor .card:nth-child(3) .box .content a{
    background: rgb(255, 0, 242);
}